/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

$green-color: #16a085;
$red-color: #c0392b;
$light-green-color: #1abc9c;
$blue-color: #3498db;
$darkblue-color: #2980b9;

.text-green {
  color: $green-color;
}

.bg-green {
  background-color: $green-color;
}

.text-red {
  color: $red-color;
}

.bg-red {
  background-color: $red-color;
}

.text-light-green {
  color: $light-green-color;
}

.text-darkblue {
  color: $darkblue-color;
}

.bg-light-green {
  background-color: $light-green-color;
}

.footer a {
  margin-right: 0.5rem;
  color: $light-green-color;
  height: 30px;
  text-decoration: none;
}

.nav-links a {
  margin-right: 0.7rem;
  color: gray;
  transition: 0.3s;
  text-decoration: none;
}

.max-w {
  max-width: 1300px;
}

body {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.most-pop a {
  color: $light-green-color;
  text-decoration: none;
}

.categories a {
  color: whitesmoke;
  text-decoration: none;
}

.art-x-cat a {
  color: $light-green-color;
  text-decoration: none;
}

.user-forms a {
  color: $light-green-color;
  transition: 0.3s;
  text-decoration: none;
}

.most-pop a:hover {
  color: #ff741e;
  text-decoration: underline;
}

.categories a:hover {
  text-decoration: underline;
}

.art-x-cat a:hover {
  color: #ff741e;
  text-decoration: underline;
}

.user-forms {
  width: 30%;
  min-width: 400px;
  box-shadow: 4px 3px rgba(128, 128, 128, 0.603);

  a:hover {
    color: #f1c40f;
    text-decoration: underline;
  }
}

.nav-links {
  font-size: 0.8rem;

  a:hover {
    color: $light-green-color;
    text-decoration: underline;
  }
}

.navbar {
  min-height: 60px;
  box-shadow: 0 0 3px 3px gray;

  .navbar-brand {
    font-size: 1.3rem;
  }
}

.footer {
  min-height: 61px;
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;

  .logo {
    font-size: 1.3rem;
  }

  .info {
    a {
      margin-right: 0.5rem;
      color: $light-green-color;
      height: 30px;
      text-decoration: none;
    }

    a:hover {
      color: #ff741e;
      text-decoration: underline;
    }
  }

  .social-links {
    span:first-child {
      margin-right: 0.8rem;
    }
  }

  svg {
    fill: $light-green-color;
    width: 30px;
    height: auto;
  }
}

.signs {
  height: 86vh;
}

.most-pop {
  height: 57vh;

  img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }

  .article-title {
    font-size: 2rem;
    position: absolute;
    bottom: 10%;
    left: 8%;
  }
}

.categories {
  margin-left: auto;
  margin-right: auto;

  .cate {
    height: 21vh;
  }

  .wrapper {
    height: 100%;

    .category-name {
      border-bottom: 3px solid $blue-color;
      width: max-content;
      position: absolute;
      top: 5%;
      left: 8%;
    }

    .article-title {
      position: absolute;
      bottom: 10%;
      left: 8%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.gradient {
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.562);
}

.art-x-cat {
  height: 86vh;

  .article-img {
    background-color: lightcoral;
    width: 25%;
    height: 43vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .article-text {
    width: 25%;
    height: 43vh;

    .category {
      font-weight: bold;
      color: $darkblue-color;
      border-bottom: 2px solid $darkblue-color;
      width: max-content;
    }
  }
}

.alert {
  max-height: 30px;
  padding: 0;
  z-index: 1000;
}

.create-article {
  height: 86vh;

  textarea {
    height: 30vh;
  }

  select {
    width: 50%;
  }
}

.articles {
  max-width: 60%;

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .article-image {
    height: 30vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-group {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

main {
  min-height: 86vh;
}

.no-articles {
  height: 80vh;
}

.vote {
  color: $darkblue-color;
  text-decoration: none;

  &:hover {
    color: #c4873c;
    text-decoration: underline;
  }
}
