<section class="no-articles container d-flex justify-content-center align-items-center">
  <h2 class="text-light-orange text-center">There are no articles published at the moment<br> Please come back later. </h2>
</section> 